<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="onToggleMenu()" icon-only ion-button>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Books</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button (click)="onLoadBook(i)"
            *ngFor="let book of bookList; let i = index"
            icon-start
            ion-item>
      <ion-icon [color]="book.isLend ? 'danger' : 'secondary'" item-left name="book"></ion-icon>
      {{ book.title }}
      <div *ngIf="book.isLend && book.lendTo"><small>Lend to : {{ book.lendTo }}</small></div>
    </button>
  </ion-list>
</ion-content>
