<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="onToggleMenu()" icon-only ion-button>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="mode === 'new'">New user</ion-title>
    <ion-title *ngIf="mode === 'connect'">Sign in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="authForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <button (click)="onSubmitForm()" full ion-button>Submit</button>
    <span color="danger" ion-text>{{ errorMessage }}</span>
  </form>
</ion-content>
