<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="onToggleMenu()" icon-only ion-button>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>Datas</ion-card-header>
    <ion-card-content>
      <button (click)="onSaveList()" block ion-button outline>Save medias</button>
      <button (click)="onFetchList()" block ion-button outline>Fetch medias</button>
    </ion-card-content>
  </ion-card>
</ion-content>
