<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button (click)="onNavigate(settingPage)" *ngIf="isAuth" icon-start ion-item>
        <ion-icon item-left name="settings" ></ion-icon>
        Settings
      </button>
      <button (click)="onNavigate(tabsPage)" *ngIf="isAuth" icon-start ion-item>
        <ion-icon item-left name="appstore" ></ion-icon>
        Medias
      </button>
      <button (click)="onNavigate(authPage, {mode: 'new'})" *ngIf="!isAuth" icon-start ion-item>
        <ion-icon item-left name="person-add"></ion-icon>
        Sign up
      </button>
      <button (click)="onNavigate(authPage, {mode: 'connect'})" *ngIf="!isAuth" icon-start ion-item>
        <ion-icon item-left name="person"></ion-icon>
        Sign in
      </button>
      <button (click)="onDisconnect()" *ngIf="isAuth" icon-start ion-item>
        <ion-icon item-left name="exit"></ion-icon>
        Sign out
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="tabsPage"></ion-nav>
