<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="onToggleMenu()" icon-only ion-button>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>CDs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button (click)="onLoadCd(i)"
            *ngFor="let cd of cdList; let i = index"
            icon-start
            ion-item>
      <ion-icon [color]="cd.isLend ? 'danger' : 'secondary'" item-left name="disc"></ion-icon>
      {{ cd.title }}
      <div *ngIf="cd.isLend && cd.lendTo"><small>Lend to : {{ cd.lendTo }}</small></div>
    </button>
  </ion-list>
</ion-content>
