<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button (click)="dismissModal()" clear ion-button>Close</button>
    </ion-buttons>
    <ion-title>{{ cd.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-lend': cd.isLend, 'is-return': !cd.isLend}">
    <ion-card-header>{{ cd.title }}</ion-card-header>
    <ion-card-content>
      <p>{{ cd.anneeSortie }}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            (click)="onLendCd(this.cd)"
            [disabled]="!cd.isLend"
            color="danger"
            full
            ion-button>Return</button>
        </ion-col>
        <ion-col>
          <button
            (click)="showForm()"
            [disabled]="cd.isLend"
            color="secondary"
            full
            ion-button>Lend</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <form *ngIf="show" [formGroup]="lendCdForm" >
    <ion-item>
      <ion-label floating>Lend to</ion-label>
      <ion-input formControlName="lendTo" type="text"></ion-input>
    </ion-item>
    <button (click)="onSubmitForm()" [disabled]="!lendCdForm.valid" full ion-button>Save</button>
  </form>
</ion-content>
