page-cd-lend-cd {
  .is-lend {
    ion-card-content, ion-card-header, ion-grid {
      background-color: color($colors, danger);
    }
  }
  .is-return {
    ion-card-content, ion-card-header, ion-grid {
      background-color: color($colors, secondary);
    }
  }
}
